# OpenSSL Certificate Authority Configuration File

HOME = .
RANDFILE = ${ENV::HOME}/.rnd

[ ca ]
default_ca = CA_default

[ CA_default ]
dir              = .
new_certs_dir    = $dir/newcerts
crl_dir          = $dir/crl
database         = $dir/index
serial           = $dir/serial
RANDFILE         = $dir/private/.rand
copy_extensions  = copy
x509_extensions  = usr_ext
unique_subject   = no
name_opt         = ca_default
cert_opt         = ca_default
default_md       = sha1
preserve         = no
policy           = policy_match

[ policy_match ]
countryName             = match
stateOrProvinceName     = optional
localityName            = optional
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_md              = sha1
distinguished_name      = root_ca_distinguished_name
x509_extensions         = ca_ext
prompt                  = no
string_mask             = nombstr # only accept ASCII printable chars for answers

[ usr_ext ]
basicConstraints        = critical,CA:FALSE
keyUsage                = digitalSignature,nonRepudiation,keyEncipherment,dataEncipherment
extendedKeyUsage        = serverAuth,clientAuth,emailProtection
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer:always
crlDistributionPoints   = URI:${ENV::CERT_CRL}

[ ca_ext ]
basicConstraints        = critical,CA:TRUE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer:always
crlDistributionPoints   = URI:${ENV::CERT_CRL}

[ crl_ext ]
authorityKeyIdentifier  = keyid:always,issuer:always

[ root_ca_distinguished_name ]
C = ${ENV::CERT_C}
O = ${ENV::CERT_O}
CN = ${ENV::CERT_CN}
emailAddress = ${ENV::CERT_EMAIL}

