# OpenSSL Certificate Authority Configuration File

HOME = .
RANDFILE = ${ENV::HOME}/.rnd

[ ca ]
default_ca = CA_default

[ CA_default ]
dir              = .
new_certs_dir    = $dir/newcerts
crl_dir          = $dir/crl
database         = $dir/index
serial           = $dir/serial
RANDFILE         = $dir/private/.rand
copy_extensions  = copy
x509_extensions  = usr_cert
unique_subject   = no
name_opt         = ca_default
cert_opt         = ca_default
default_md       = sha1
preserve         = no
policy           = policy_match

[ usr_cert ]
basicConstraints        = CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer:always
nsCaRevocationUrl       = https://www.waveform.org.uk/ca-crl.pem

[ policy_match ]
countryName             = match
stateOrProvinceName     = optional
localityName            = optional
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_md              = sha1
distinguished_name      = root_ca_distinguished_name
x509_extensions         = v3_ca # The extensions to add to a self-signed cert
#req_extensions         = v3_req # The extensions to add to a certificate request
prompt                  = no
string_mask             = nombstr # only accept ASCII printable chars for answers

[ v3_req ]
basicConstraints        = CA:FALSE
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
basicConstraints        = CA:TRUE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer:always

[ crl_ext ]
authorityKeyIdentifier  = keyid:always,issuer:always

[ root_ca_distinguished_name ]
C = ${ENV::CERT_C}
O = ${ENV::CERT_O}
CN = ${ENV::CERT_CN}
emailAddress = ${ENV::CERT_EMAIL}

